@model Model.ViewModel.SmsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.ProductTypeId


@using (Html.BeginForm("SendSms", "Sms", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-info" style="padding-left:15px">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MobileNoList, "Send To", new { @class = "control-label col-md-4 col-sm-2" })
                                <div class="col-md-7 col-sm-10">
                                    @Html.TextBoxFor(m => m.MobileNoList, null, new { @class = "form-control required" })
                                    @Html.ValidationMessageFor(m => m.MobileNoList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Message, "Message", new { @class = "control-label col-md-4 col-sm-2" })
                                <div class="col-md-7 col-sm-10">
                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    CustomSelectFunction($("#MergingProductId"), '/Sms/GetPerson', '/Sms/SetPerson', ' ', false, 0);
 </script>